extends rust

snippet cfn "C API function definition"
#[no_mangle]
pub extern "C" fn ${1:function_name}(${2})${3} {
	${0}
}
endsnippet

snippet cstruct "C API struct definition"
#[allow(non_camel_case_types)]
#[repr(C)]
pub struct ${1} {
	${0}
}
endsnippet

